footer
    nav.footer__nav
        ul 
            li: a(href="#") HOME
            li: a(href="#") 大通り
            li: a(href="#") 中島公園
            li: a(href="#") すすきの
            li: a(href="#") 真駒内
    p: small &copy; TEAM HEART