div.mask#mask
a.menuButton#menuButton
    div
    div 
    div
nav#nav
    ul 
        li: a(href="index.html"): img(src="img/Nav-top.jpg",alt="Nav-top.jpg")
        li: a(href="odori.html"): img(src="img/Nav-odori.jpg",alt="Nav-odori")
        li: a(href="nakajima.html"): img(src="img/Nav-nakajima.jpg",alt="Nav-nakajima")
        li: a(href="susukino.html"): img(src="img/Nav-susukino.jpg",alt="Nav-susukino")
        li: a(href="makomanai.html"): img(src="img/Nav-makomanai.jpg",alt="Nav-makomanai")