header
    h1
        a(href="index.html")
            img(src="img/header_title.png", alt="header__title") 
    nav.gnav
        ul
            li: a(href="#") HOME
            li: a(href="#") 大通り
            li: a(href="#") 中島公園
            li: a(href="#") すすきの
            li: a(href="#") 真駒内