script(src="js/script.js")
script(src="js/jquery.min.js")
script(src="js/libs/jquery.easing.1.3.js")
script.
    $(function(){
        $('a[href^="#"]').on({"click":(function() {
            let href= $(this).attr("href");
            let target = $(href == "#" || href == "" ? 'html' : href);
            let position = target.offset().top;
            $('body,html').animate({scrollTop:position}, 500);
        }),
        });
    });